<div class="container">
  <div class="formulaire">
    <h2>Mot de passe oublié ?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="input">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
    </div>
      <div class="bloc">
        <div class="actions">
          <%= f.submit "Envoyez moi les instructions", class: "bouton" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
