

<nav class="navbar">
    <h1 class="nav_titre"> <%= link_to home_path do %> Maxapps <% end %> </h1>
    <div class="nav_links">
      <ul>
        <% if user_signed_in? %>
          <li> <%= link_to list_path do %> Ma liste de groupe <% end %> </li>
          <li> <%= link_to new_groupe_path do %> creer un groupe <% end %> </li>
          <li> <%= link_to "deconexion",destroy_user_session_path, method: :delete %> </li>

        <% else %>
          <li> <%= link_to new_user_registration_path do %> inscription <% end %> </li>
          <li> <%= link_to new_user_session_path do %> connection <% end %> </li>
        <% end %>

      </ul>
    </div>
</nav>
