<nav class="navbar">
  <div class="nav_left">
    <div class="nav_titre">
      <p> <%= link_to home_path do %> Maxapps <% end %> </p>
    </div>
    <% if user_signed_in? %> <p class="user"><%= current_user.name %> - <span class="online">en ligne</span></p> <% end %>
  </div>
  <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="far fa-caret-square-down"></i>
    </label>
  <div class="nav_right">
    <ul>
      <% if user_signed_in? %>
        <li> <%= link_to list_path do %> liste des groupes <% end %> </li>
        <li> <%= link_to new_groupe_path do %> créer un groupe <% end %> </li>
        <li> <%= link_to "déconnecter",destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li> <%= link_to new_user_registration_path do %> inscription <% end %> </li>
        <li> <%= link_to new_user_session_path do %> connection <% end %> </li>
       <% end %>
       <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
   </div>
</nav>
