<div class="container-groupe-margin">
  <div class="container-photo">
    <h1>Photos</h1>
    <div class="gallery">

      <div class="gallery-option">

        <p><%= link_to "photos +", new_groupe_photo_path(@groupe) %></p>

        <% if params[:query] %>
          <%= link_to "A-z", groupe_photos_path(@groupe)  %>
        <% else %>
          <%= link_to "Z-a", groupe_photos_path(@groupe, :query => "order")  %>
        <% end %>
      </div>

      <div class="gallery-img">
        <% if @photos.present? %>
          <% @photos.each do |pic| %>
            <%= link_to  do %>
              <%= cl_image_tag(pic.photo, :height=>200, :width=>200, :border=>"3px_solid_rgb:344147", :crop=>:fill, :format=>:png) %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>_
