<!DOCTYPE html>
<html>
  <head>
    <title>Maxapps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta id="viewport" name="viewport" content ="width=device-width" />


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if @show_groupe_nav == true%>
      <%= render 'shared/groupeNav' %>
    <% end %>
    <%= yield %>

  </body>

  <script>

  var nav_right_modal = document.getElementById('navRightModal');
  var nav_right_btn_open = document.getElementById('nav_right_btn');
  var nav_right_btn_close = document.getElementById('nav_right_btn_close');
  var nav_left_modal = document.getElementById('navLeftModal');
  var nav_left_btn_open = document.getElementById('nav_left_btn');

  nav_right_btn_open.onclick = function() {
    nav_right_modal.style.display = "block";
  }

  nav_right_btn_close.onclick = function() {
    nav_right_modal.style.display = 'none';
  }

  window.onclick = function(event) {
    if (event.target == nav_right_modal) {
      nav_right_modal.style.display = 'none';
    }
    else if (event.target == nav_left_modal) {
      nav_left_modal.style.display = 'none';
    }
  }

  nav_left_btn_open.onclick = function() {
    nav_left_modal.style.display = "block";
  }

</script>

</html>
